*{
	margin:0;
	padding:0;
}

@font-face {
    font-family: IBMPlexMonoLight;
    src: url(../assets/fonts/IBMPlexMono-Light.ttf);
}

@font-face {
    font-family: IBMPlexMonoSemibold;
    src: url(../assets/fonts/IBMPlexMono-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: IBMPlexMonoSemiBoldItalic;
    src: url(../assets/fonts/IBMPlexMono-SemiBoldItalic.ttf);
    font-style: italic;
}

body {
	overflow: hidden;
	font-family: IBMPlexMonoLight, sans-serif;
	background-color: #DDDDDD;
}

select{
	-webkit-appearance: none;
    appearance: none;
    font-family: IBMPlexMonoSemiBoldItalic;
	font-size: inherit;
	padding-right: 1.5em;
	background-color: #DDDDDD;
	background-image: url(../assets/arrow-outline.svg);
    background-position: right;
    background-repeat: no-repeat;
	border: 0;
	border-radius: 0;
    border-bottom: 2px solid black;
}

select:focus {
	outline: none;
}

img {
	margin: 0em 0em;
	height: 100%;
	box-sizing: border-box;
	transition: 1.5s;
}

@keyframes scroll {
	0% {transform: translateX(0%);}
	100% {transform: translateX(-50%);}
}

#info {
	position: absolute;
	box-sizing: border-box;
	padding: 0em 3em;
	top: 0;
	left: 0;
	width: 600px;
	height: 100vh;
	z-index: 1;
	background-color: #DDDDDD;
	transition: 1s;
	border-right: solid black 2px;
}

#info p {
	padding-top: 1.5em;
	line-height: 1.5em;
}

#info h1 {
	font-size: 2em;
	font-family: IBMPlexMonoSemibold;
}

#close {
	text-align: right;
	font-family: IBMPlexMonoSemibold;
	font-size: 2em;
	padding-top: 0.5em;
}

#open {	
	text-align: left;
	text-transform: uppercase;
	text-decoration: underline;
	font-family: IBMPlexMonoSemibold;
	font-size: 0.75em;
	padding-bottom: 0.5em;
	width: 100px;
}

#row1, #row2, #row3, #row4 {
	box-sizing: border-box;
	width: 200vw;
	height: 20vh;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	border-bottom: 2px solid black;
}

#filter {
	box-sizing: border-box;
	height: 20vh;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
}

.scrollleft {
	animation: scroll 14s linear 0s infinite normal both running;
}

.scrollright {
	animation: scroll 14s linear 0s infinite reverse both running;
}

.scrollright:hover, .scrollleft:hover {
	animation-play-state: paused;
	cursor: help;
}

.offscreen {
	position: relative;
	transform: translateY(500%);
}

.hidepanel {
	transform: translateX(-100%);
}

/*breakpoints to allow smooth animation loop at various widths*/

@media only screen and (max-width: 1499px) {
	#row1, #row2, #row3, #row4 {
		width: 300vw;
	}
}

@media only screen and (max-width: 1499px) {
	body {
		font-size: 14px;
	}
}

@media only screen and (max-width: 999px) {
	#row1, #row2, #row3, #row4 {
		width: 400vw;
	}

	body {
		font-size: 12px;
	}
}

@media only screen and (max-width: 749px) {
	#row1, #row2, #row3, #row4 {
		width: 500vw;
	}
}

@media only screen and (max-width: 599px) {
	#row1, #row2, #row3, #row4 {
		width: 600vw;
	}

	#info {
		width: 100vw;
	}

	body {
		overflow-y: scroll;
	}
}

@media only screen and (max-width: 499px) {
	#row1, #row2, #row3, #row4 {
		width: 700vw;
	}
}

@media only screen and (max-width: 429px) {
	#row1, #row2, #row3, #row4 {
		width: 800vw;
	}
}

@media only screen and (max-width: 374px) {
	#row1, #row2, #row3, #row4 {
		width: 900vw;
	}
}

@media only screen and (max-width: 333px) {
	#row1, #row2, #row3, #row4 {
		width: 1000vw;
	}
}