@import url('https://fonts.googleapis.com/css?family=VT323');

*{
	margin:0;
	padding:0;
}

body {
	background: url(romeo-juliet.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: blue;
	background-blend-mode: multiply;
	font-family: 'VT323', monospace;
	color: white;
	text-align: center;
}

div {
	padding-top: 1em;
}