*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	text-transform: uppercase;
	letter-spacing: -0.05em;
  	font-size: 4em;
  	overflow: hidden;
  	text-align: center;
}

a {
	color: #000000;
	text-decoration: none;
}

@keyframes rotate {
    0% {transform: translate(-50%, -50%) rotateY(0deg);}
    100% {transform: translate(-50%, -50%) rotateY(360deg);}
}

@keyframes rotate1 {
    0% {transform: translate(75%, -50%) rotateY(-180deg) rotateX(60deg);}
    100% {transform: translate(75%, -50%) rotateY(180deg) rotateX(60deg);}
}	

@keyframes rotate2 {
    0% {transform: translate(100%) rotateY(90deg) rotateX(90deg);}
    100% {transform: translate(100%) rotateY(450deg) rotateX(90deg);}
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -62.5%);
}

#stage {
	width: 100vw;
	height: 100vh;
	perspective: 2.5em;
}

#time0 {
	animation: rotate 5s infinite linear;
}

#time1 {
	transform-origin: -75%;
	animation: rotate1 2.5s infinite linear;
}

#time2 {
	transform-origin: -100%;
	animation: rotate2 10s infinite linear;
}


#time0:hover, #time1:hover, #time2:hover {
	animation-play-state: paused;
}