*{
	margin:0;
	padding:0;
}

body {
}

@keyframes rotate {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}

img {
	position: absolute;
	top: 50%;
	left: 50%;
	animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#main {
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
}

#circle1 {
	height: 100%;
	animation-duration: 10s;
}

#circle2 {
	height: 80%;
	animation-duration: 7s;
}

#circle3 {
	height: 64%;
	animation-duration: 4s;
}

#circle4 {
	height: 51.2%;
	animation-duration: 2s;
}